
.wrapper{
    position:absolute;
    width:100%;
    height:60%;
    top:17vh;
    overflow: hidden;
    align-content: center;
    justify-content:center;
    perspective: 600px;
    perspective-origin:bottom;

    display: none;
}

.pic {
    width: 17%;
    height:60%;

    display: block;
    position: absolute;
    top:55%;
    left:50%;
    /* margin: 0.5vw; */
    box-shadow: 0 0 20px silver, 0 0 30px silver;

}

.pic:nth-child(1){
    transform: translate3d(-50%, -50%, 100px);
    width:25%;
    height: 70%;
    top:60%;
    z-index: 10;
}
.pic:nth-child(2){
    transform: translateX(20vw) translate3d(-50%, -50%,60px);
    z-index: 6;

}
.pic:nth-child(3){
    transform:   translateX(-20vw) translate3d(-50%, -50%, 60px);
    z-index:6;

}
.pic:nth-child(4){
    transform:  translateX(35vw) translate3d(-50%, -50%, 20px);
    z-index: 2;

}
.pic:nth-child(5){
    transform:  translateX(-35vw)  translate3d(-50%, -50%, 20px);
    z-index: 2;

}


